<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>123760653358-uscrkfqgpbrti5jtg2si3im9iljoiogb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123760653358-uscrkfqgpbrti5jtg2si3im9iljoiogb</string>
	<key>API_KEY</key>
	<string>AIzaSyDfb3mk2f_d_8CfHktHdzoFshNLX83Jdrk</string>
	<key>GCM_SENDER_ID</key>
	<string>123760653358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixdays.trust</string>
	<key>PROJECT_ID</key>
	<string>trust-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>trust-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123760653358:ios:f24abeeab90fc737</string>
	<key>DATABASE_URL</key>
	<string>https://trust-ios.firebaseio.com</string>
</dict>
</plist>